body{
    color: #2c3e50;
}

.ms_rounded{
    border-radius: 15px;
}

nav{
    height: 100px;
}

.ms_display-inlineblock{
    display: inline-block;
}

.ms_display-block{
    display: block;
}

.ms_nav-title{
    line-height: 100px;
    vertical-align: middle;
}

.ms_blue{
    background-color: #2c3e50;
}

.ms_green{
    background-color: #1abc9c;
    /* height: 200px; */
}

.ms_red{
    background-color: #ba4b63;
}

.ms_turquoise{
    background-color: #1ea4b6;
}

.ms_black{
    background-color: #140f0f;
}

.ms_sky-blue{
    background-color: #1c83c1;
}

.ms_electric-blue{
    background-color: #0e38b5;
}

.ms_beige{
    background-color: #ccb2a3;
}

.ms_footer-blue{
    background-color: #3a546d;
}

.ms_round{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #2c3e50;
    margin: 0 auto; 
}

.ms_round-l{
    height: 200px;
    width: 200px;
}

.ms_textwhiteuppercase{
    color: white;
    text-transform: uppercase;
}

.ms_textuppercase{
    text-transform: uppercase;
}

.ms_textwhite{
    color: white;
}

